.wpfMainWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $brand-color;
}

.wpfFilterContent{
    color: $color__text-main;
}

.wpfFilterButtons {
    text-align: center;
    width: 100%;
    button {
    color: $brand-color;
    }
}

.orderby {
    margin-bottom: 3rem;
}

.woocommerce-result-count, .woocommerce-ordering, .term-description {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

