.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.site-main {
      padding: 2rem;
}


@media screen and (min-width: 80em) {
      .site-main {
        max-width: 1200px;
        margin: 0 auto;
      }
}

#primary > div.woocommerce-notices-wrapper > div {
  background-color: #fff;
  margin: 0 10%;

  a {
    color: $accent-color;
  }
}
