.woocommerce-page {

    .site-main {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;

        .page-numbers {
            list-style: none;
            display: flex;
            justify-content: center;
            margin-left: 0;
            padding-left: 0;
            font-size: 120%;
            width: 100%;

            li {
                margin: 10px;

                .current {
                    color: $accent-color;
                    text-decoration: underline;
                }
            }
        }
    }

    .products.columns-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        text-align: center;

        .button.product_type_simple.add_to_cart_button, 
        .button.product_type_bundle.product_type_bundle_input_required.add_to_cart_button, 
        .button.product_type_variable.add_to_cart_button {
            width: 150px;
            margin: 0 auto;
            border: 1px solid;
            border-color: #ccc #ccc #bbb;
            border-radius: 3px;
            background: $brand-color;
            color: white;
            line-height: 1;
            padding: .5em 1em;
        }

        .button.product_type_simple.add_to_cart_button:hover, 
        .button.product_type_bundle.product_type_bundle_input_required.add_to_cart_button:hover, 
        .button.product_type_variable.add_to_cart_button:hover
        {
            background-color: $accent-color;
        }
    }

    ul {
        li.product.type-product {
            margin: 0 auto;
            width: 150px;
        }

        .star-rating {
                margin: 0 auto;
        }

        a {
            text-decoration: none;
            color: $brand-color;

            :hover {
                color: $accent-color;
            }
        }
    }
}

