.woocommerce-breadcrumb {
    a {
        color: $accent-color;
        text-decoration: none;
    }
}

.woocommerce-page {
    .site-main {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;

        .page-numbers {
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 2rem 0 0 0;
            padding-left: 0;
            font-size: 120%;
            width: 100%;
            text-decoration: none;
            border-radius: 7px;
     
            li {
                margin: .65rem;

                a {
                    padding: .5rem;
                    background-color: #e6e6e6;
                    color: $brand-color;
                }

                .current {
                    padding: .5rem;
                    color: $accent-color;
                }
            }
        }
    }

    .products.columns-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem 1.5rem;
        text-align: center;
    }

    ul {
        li.product.type-product {
            margin: 0 auto;
            width: 150px;

            a {
                text-decoration: none;
                h2 {color: $brand-color;}
                .dashicons {color: $brand-color;}
    
                :hover {
                    color: $accent-color;
                }
            }
        }

        .star-rating {
                margin: 0 auto;
        }
    }
}

.woocommerce-loop-product__title, .bundled_product_title.product_title {
    font-weight: 400;
}

.products.bundled_products.columns-3 {
    margin: 2rem;
}
 
.woocommerce-products-compare-content.woocommerce {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;

    table {
        thead tr {
            th h3{
                color: #404040;
                font-family: "Montserrat", sans-serif;
                font-size: 1rem;
                line-height: 1.5;
            }
            .product {
                vertical-align: bottom;
                a h3 {
                    color: $brand-color;
                    font-weight: 400;
                    font-size: 1.5em;
                }
            }
        }

    tbody {
        th {
            text-align: left;
            vertical-align: middle;
        }

        tr {
            text-align: center;
        }
    }

    tfoot {
        tr td{
            vertical-align: bottom;
        }
        
        a h3 {
            color: $brand-color;
            font-weight: 400;
            font-size: 1.5em;
        }
    }
}
}