.woocommerce-page {

    .site-main {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;

        .page-numbers {
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 2rem 0 0 0;
            padding-left: 0;
            font-size: 120%;
            width: 100%;

            li {
                margin: .65rem;


                a {
                    padding: .5rem;
                    background-color: #e6e6e6;
                    color: $brand-color;

                }

                .current {
                    padding: .5rem;
                    color: $accent-color;

                }
            }
        }
    }

    .products.columns-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        text-align: center;
    }

    ul {
        li.product.type-product {
            margin: 0 auto;
            width: 150px;
        }

        .star-rating {
                margin: 0 auto;
        }

        a {
            text-decoration: none;
            color: $brand-color;

            :hover {
                color: $accent-color;
            }
        }
    }
}
