.search .site-main {
  margin: 0 1rem;
}

.search-no-results .site-main {
  display: flex;
  justify-content: center;
}

.search .page-title {
  font-size: 2.5rem;
  color: $brand-color;
  margin-top: 4rem;
}

.search .entry-title {
  font-size: 1.5rem;
}

.search-results article a {
  text-decoration: none;
  color: $color__text-input-focus;
}

.search-results article a:hover {
  color: #8d2c19;
}

.search .attachment-post-thumbnail {
  max-width: 250px;
  max-height: 250px;
}

.search .search-field {
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.25em;
}

.search .search-submit {
  background-color: $brand-color;
  color: $color__background-body;
  padding: 0.5em 1em;
}

.search .site-footer {
  margin-top: 4rem;
}

.search .search-submit:hover {
  background-color: $accent-color;
}

@media screen and (min-width: $breakpoint600) {
  .search .page-title {
    font-size: 3.5rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  .search .entry-title {
    font-size: 2rem;
  }

  .search .page-content p,
  .search .search-field,
  .search .search-submit,
  .search .entry-summary p {
    font-size: 1.25rem;
  }

  .post-thumbnail {
    overflow: hidden;
    max-width: 300px;
  }

  .search .attachment-post-thumbnail {
    max-width: 300px;
    max-height: 300px;
    transition: 0.7s;
    object-fit: cover;
  }

  .search .attachment-post-thumbnail:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: $breakpoint769) {
  .search-results .page-title {
    margin-left: 3rem;
    margin-bottom: 6rem;
  }

  .search-results .entry-title {
    font-size: 2.5rem;
  }
}
