/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "Teko", sans-serif;
  line-height: 1.1;
}

p {
  margin-bottom: 1.5em;
  font-family: "Montserrat", sans-serif;
}

/* Elements
--------------------------------------------- */
body {
  background: #fff;
}
