@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Teko:wght@400;500;600;700&display=swap");

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "Teko", sans-serif;
  line-height: 1.1;
}

p {
  margin-bottom: 1.5em;
  font-family: "Montserrat", sans-serif;
}

/* Elements
--------------------------------------------- */
body {
  background: #fff;
}

/* Links
--------------------------------------------- */
a {
  color: #4169e1;
}
a:visited {
  color: #800080;
}
a:hover,
a:focus,
a:active {
  color: #8d2c19;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
