.main-navigation {
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			display: block;

			ul {
				display: block;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			// left: auto;
			// display: block;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul.menu {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

// Search functionality

.site-search.expanded {
	.search-form {
		display: initial;
	}
	.search-toggle {
		display: none;
	}
}
.site-search {
	display: flex;
	align-items: center;
	.search-form, .search-submit {
		display: none;
	}
	.search-toggle {
		cursor: pointer;
	}
}


// Header & Navigation
.site-header {
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.search-and-nav {
		display: flex;
	}

	.site-branding, .site-branding img {
		height: 3rem;
		width: 3rem;
	}

	.main-navigation {
		.menu-header-container {
			position: absolute;
			z-index: 99999;
			left: 0;
			width: 100%;
			background-color: $brand-color;
			margin-top: 0.5rem;
			
			ul {
				padding: 1rem;

				li a {
					color: $color__background-body;
					line-height: $line-height-nav;
				}
			}

			ul.sub-menu {
				padding: 0;
				padding-left: 2rem;
			}
		}

		button {
		background: none;
		outline: none;
		border: none;
		}
	
		.hamburger-icon {
			height: 2rem;
			width: 2rem;
			cursor: pointer;
		}
	}
}

