button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.button.product_type_simple.add_to_cart_button, 
.button.product_type_bundle.product_type_bundle_input_required.add_to_cart_button, 
.button.product_type_variable.add_to_cart_button,
.single_add_to_cart_button {
    width: 150px;
    margin: 1rem auto;
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 7px;
    background: $brand-color;
    color: white;
    line-height: 1;
    padding: .5em 1em;
}

.button.product_type_simple.add_to_cart_button:hover, 
.button.product_type_bundle.product_type_bundle_input_required.add_to_cart_button:hover, 
.button.product_type_variable.add_to_cart_button:hover,
.single_add_to_cart_button:hover
{
    background-color: $accent-color;
}


