a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.page-id-15 {
	.return-to-shop {
		text-align: center;
		margin-top: 3rem;

		a {
			text-decoration: none;
			color: $color__background-body;
			background-color: $brand-color;
			padding: 1rem;

			&:hover {
				background-color: $accent-color;
			}
		}
	}
}
