// Nav menu
$breakpoint378: 23.625em;
$breakpoint448: 28em;
$breakpoint578: 36.125em;
$breakpoint600: 37.5em;
$breakpoint769: 48.0625em;
$breakpoint800: 50em;
$breakpoint1000: 62.5em;
$breakpoint1280: 80em;

//Contact Page
$breakpointtablet: 50em;
$breakpointdesktop: 75em;
